* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
}

.container {
    width: 95%;
    background-color: coral;
    margin: 20px auto;
}

/*MAIN*/
.row {
    margin: 30px 0;
    text-align: center;
}

.item {
    display: inline-block;
    width: 30%;
    padding: 8px;
}

.img-container {
    position: relative;
}

.hearts {
    position: absolute;
    right: 0;
    top: 15px;
    padding: 5px 12px;
    font-size: 30px;
    background-color: white;
}

.peculiar {
    position: absolute;
    left: 0;
    bottom: 10px;
}

.discount {
    background-color: #eb0037;
}

.sustainability {
    background-color: #00875a;
}

.peculiar-text {
    color: white;
    padding: 3px 5px;
    font-weight: 900;
    font-size: 12px;
    display: inline-block;
}
/*hover*/

.hover-image {
    display: none;
}

.item:hover {
    cursor: pointer;
}

.item:hover .hover-image{
    display: inline-block;
}
.item:hover .basic-image{
    display: none;
}

/*description*/
.info-product{
    text-align: left;
    font-size: 14px;
}

.name-product {
    font-size: 16px;
    font-weight: bold;
}

.discounted-price {
    color: red;
    font-weight: bold;
}
.normal-price {
    text-decoration: line-through;

}